<?xml version="1.0"?>
<config>
    <modules>
        <Spottercommt_XmlGenerator>
            <version>0.1.0</version>
        </Spottercommt_XmlGenerator>
    </modules>
    <frontend>
        <routers>
            <xmlgenerator>
                <use>standard</use>
                <args>
                    <module>Spottercommt_XmlGenerator</module>
                    <frontName>xmlgenerator</frontName>
                </args>
            </xmlgenerator>
        </routers>
        <layout>
            <updates>
                <xmlgenerator>
                    <file>xmlgenerator.xml</file>
                </xmlgenerator>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <xmlgenerator>
                <use>admin</use>
                <args>
                    <module>Spottercommt_XmlGenerator</module>
                    <frontName>admin_xmlgenerator</frontName>
                </args>
            </xmlgenerator>
        </routers>
    </admin>
    <global>
        <helpers>
            <xmlgenerator>
                <class>Spottercommt_XmlGenerator_Helper</class>
            </xmlgenerator>
        </helpers>
        <blocks>
            <xmlgenerator>
                <class>Spottercommt_XmlGenerator_Block</class>
            </xmlgenerator>
        </blocks>
        <models>
            <xmlgenerator>
                <class>Spottercommt_XmlGenerator_Model</class>
                <resourceModel>xmlgenerator_mysql4</resourceModel>
            </xmlgenerator>
        </models>
    </global>
    <crontab>
        <jobs>
            <xmlgenerator_generatexml>
                <schedule>
                    <cron_expr>* 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>xmlgenerator/cron::GenerateXml</model>
                </run>
            </xmlgenerator_generatexml>
        </jobs>
    </crontab>
</config> 